<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %d{yyyyMMdd-HHmmss} [%t] %M- %msg%n" />
        </Console>
        <RollingFile name="rollingfileTraceEK" fileName="src/test/resources/logs/ek-trace.log"
                     filePattern="src/test/resources/logs/trace/ek/ek-trace-%d{yyyy-MM-dd-HH:mm:ss}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %M- %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="rollingfileTraceGreedy" fileName="src/test/resources/logs/g-trace.log"
                     filePattern="src/test/resources/logs/trace/greedy/g-trace-%d{yyyy-MM-dd-HH:mm:ss}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %M- %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>

        <RollingFile name="rollingfileTraceMP" fileName="src/test/resources/logs/mp-trace.log"
                     filePattern="src/test/resources/logs/trace/max-profit/mp-trace-%d{yyyy-MM-dd-HH:mm:ss}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %M- %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>

        <RollingFile name="rollingfileInfo" fileName="src/test/resources/logs/info.log"
                     filePattern="src/test/resources/logs/info/info-%d{yyyy-MM-dd-HH:mm:ss}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %M- %msg%n
                </pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="iLogger" level="info" additivity="false">
            <AppenderRef ref="rollingfileInfo"/>
            <AppenderRef ref="console" level="all"/>
        </logger>
        <logger name="ekLogger" level="all" additivity="false" >
            <AppenderRef ref="rollingfileTraceEK"/>
            <AppenderRef ref="rollingfileInfo" level="info"/>
            <AppenderRef ref="console" level="all"/>
        </logger>
        <logger name="mpLogger" level="all" additivity="false" >
            <AppenderRef ref="rollingfileTraceMP"/>
            <AppenderRef ref="console" level="all"/>
        </logger>
        <logger name="gLogger" level="all" additivity="false" >
            <AppenderRef ref="rollingfileTraceGreedy"/>
            <AppenderRef ref="rollingfileInfo" level="info"/>
            <AppenderRef ref="console" level="all"/>
        </logger>
        <Root level="all">
            <AppenderRef ref="console" level="all"/>
        </Root>
    </Loggers>
</Configuration>