@font-face {
    font-family: 'GT-Regular';
    src: url('GT-Sectra-Display-Regular.ttf');
}

@font-face {
    font-family: 'GT-Bold';
    src: url('GT-Sectra-Display-Bold.ttf');
}
@font-face {
    font-family: 'GT-Light';
    src: url('GT-Sectra-Display-Light.ttf');
}
@font-face {
    font-family: 'GT-Super';
    src: url('GT-Sectra-Display-Super.ttf');
}
@font-face {
    font-family: 'GT-Medium';
    src: url('GT-Sectra-Display-Medium.ttf');
}
.root{
    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars;
     * default buttons.
     */
    -fx-font-family: "GT-Bold";
    -fx-accent: #a4a7b2;

    /* A bright blue for the focus indicator of objects. Typically used as the
     * first color in -fx-background-color for the "focused" pseudo-class. Also
     * typically used with insets of -1.4 to provide a glowing effect.
     *
     * TODO: should this be derived from -fx-accent?
     */
    -fx-focus-color: #a4a7b2;
    /*icons font-awesome*/
    -icons-color: rgb(61,114,144);
}
/*icons font-awesome*/
.button .icons{
    -fx-font-family: FontAwesome;
    -fx-font-size: 14px;
    -fx-effect: innershadow(three-pass-box, derive(-icons-color,-70%), 0.1em, 0.0, 0.07em, 0.07em);
    -fx-text-fill: linear-gradient(to bottom, derive(-icons-color,20%) 10%, derive(-icons-color,-40%) 80%);
}

.simple {
    -fx-pref-width: 110;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-font-family: "GT-Regular";
}
/*icons font-awesome*/
.icons:hover{
    -fx-effect: dropshadow( three-pass-box, derive(-icons-color,0%), 0.01em, 0.0, 0, 0);
}


/*the rest*/
.sidebar {
    -fx-background-color: #a4a7b2;
}
.sidebar-item {
    -fx-padding: 12;
    -fx-text-fill: #494949;
    -fx-font-family: "GT-Super";
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-border-style: hidden;
}
.menu-item-non-clicked {
    -fx-background-color: transparent;
}
.menu-item-clicked {
    -fx-background-color: #f4f4f4;
}
.menu-title {
    -fx-text-fill: #2d2d2d;
    -fx-font-family: "GT-Super";
    -fx-font-weight: bold;
    -fx-padding: 15, 15, 12, 15;
    -fx-font-size: 14;
}
.filter-pane {
    -fx-background-color: #f4f4f4;
}
.filter-item {
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 12;
}
.filter-title {
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}
.page-pane {

}

.card {
    -fx-text-fill: #494949;
}

.card-property-name{
    -fx-font-family: "GT-Bold";
    -fx-font-weight: bold;
}

.text-area {
    -fx-background-color: transparent;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-field:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #a4a7b2; /* here rgba (corrected) */
}

/*separator between card and a table.css */
.separator{
    -fx-font-weight: thin;
    -fx-padding: 0;
    -fx-border-style: none;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}
